.aboutrgb {
	width: 600px;
}

.rgbimg {
	max-width: 400px;
}

.rgbimg p {
	text-align: center;
	margin: 2px;

}

.navigate {
	font-family: Georgia;
	font-size: 32px;
	color: red;
	background: url(https://s3.envato.com/files/136610938/01_preview.png);
	height: 130%;
	width: 1200px;
	align-content: center;
	display: block;
	margin: 0px;
}

.nav1 {
	margin-left: 30px;
	margin-right: 30px;
	color: aqua;
}

.nav2 {
	margin-left: 30px;
	margin-right: 30px;
	color: aqua;
}

.nav3 {
	margin-left: 30px;
	margin-right: 30px;
	color: aqua;
}

p {
	font-size: 18px;
	font-family: cursive;
}

.nav4 {
	margin-left: 30px;
	margin-right: 30px;
	color: aqua;
}

.red {
	color: rgb(255, 0, 0);
	margin-top: 0px;
}

.yellow {
	color: rgb(255, 255, 0);
}

.red1 {
	margin-bottom: 0px;
}

body {
	background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTQT2nbFJQjVCyHVPGUz8ZoZr54XQEjatQtFhDkcw8dtvbV1eRrIw);
	display: block;
	margin: 0px;
}

.green {
	color: rgb(0, 255, 0);
}

.blue {
	color: rgb(0, 0, 255);
}

.rgbb {
	font-size: 20px;
}

.white {
	color: rgb(255, 255, 255);
}

.black {
	color: rgb(0, 0, 0,);
}
h1 {
	margin: 0px;
}