.aboutrgb {
	width: 600px;
}

.rgbimg {
	max-width: 400px;
}

.rgbimg p {
	text-align: center;
	margin: 2px;

}

.navigate {
	font-family: Georgia;
	font-size: 20px;
	color: red;
	background: url(https://s3.envato.com/files/136610938/01_preview.png);
	height: 130%;
	width: 1200px;
	align-content: center;
	display: block;
	margin: 0px;
}

.nav1 {
	margin-left: 30px;
	margin-right: 30px;
	color: aqua;
}

.nav2 {
	margin-left: 30px;
	margin-right: 30px;
	color: aqua;
}

.nav3 {
	margin-left: 30px;
	margin-right: 30px;
	color: aqua;
}

p {
	font-size: 18px;
	font-family: cursive;
}

.nav4 {
	margin-left: 30px;
	margin-right: 30px;
	color: aqua;
}

.red {
	color: rgb(255, 0, 0);
	margin-top: 0px;
}

.yellow {
	color: rgb(255, 255, 0);
}

.red1 {
	margin-bottom: 0px;
}

body {
	background: url(http://bgfons.com/upload/industrial_texture686.jpg);
	display: block;
	margin: 0px;
	font: 14px 'Verdana';
    padding: 0;
}

.green {
	color: rgb(0, 255, 0);
}

.blue {
	color: rgb(0, 0, 255);
}

.rgbb {
	font-size: 18px;
}

.white {
	color: rgb(255, 255, 255);
    background-color: black;
    width: 100px;
 }

.black {
	color: rgb(0, 0, 0,);
}
h1 {
	margin: 0px;
}

ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;

}
ul:after {
    display: block;
    content: ' ';
    clear: both;
    float: none;

}
ul.menu > li {
    float: left;
    position: relative;

}
ul.menu > li > a {
    display: block;
    padding: 10px;
    color: white;
    background-color: rgb(0, 153, 255);
    text-decoration: none;
    border-radius: 50px;
}
ul.menu > li > a:hover {
    background-color: black;

}

ul.submenu {
    display: none;
    position: absolute;
    width: 150px;
    top: 44px;
    left: 0px;
    background-color: white;

}
ul.submenu > li {
    display: block;
}

ul.submenu > li > a {
    display: block;
    padding: 10px;
    color: white;
    background-color: rgb(0, 153, 255);
    text-decoration: none;

}
ul.submenu > li > a:hover {
    background-color: black;
    border-radius: 10px;

}

ul.menu > li:hover > ul.submenu {
    display: block;

}


.area {
  text-align: center;
  font-weight: 700;
  animation: blur 10s ease-out infinite;

}

@keyframes blur {
  from {
    text-shadow:0px 0px .1px #fff,
      0px 0px .1px #fff, 
      0px 0px .2px #fff,
      0px 0px .2px #fff,
      0px 0px .2px #fff,
      0px 0px .2px #fff,
      0px 0px .2px #fff,
      0px 0px .2px #fff,
      0px 0px .5px #fff,
      0px 0px .5px #fff,
      0px 0px .5px #7B96B8,
      0px 0px 1.5px #7B96B8,
      0px .1px 1.0px #7B96B8,
      0px .1px 1.0px #7B96B8,
      0px .1px 1.0px #7B96B8,
      0px .1px 1.0px #7B96B8,
      0px -.1px 1.0px #7B96B8,
      0px -.1px 1.0px #7B96B8;
  }
}

.info {
  color: white;
  font:1em/1 sans-serif;
  text-align: center;
}

.info a{
  color: white;
}

svg{
  width: 200px;
  height: 100px;
  display: block;
  position: relative;
  overflow: hidden; 
  margin: 0 auto;
  background: black;
}

.h3 {
 	font-size:5em;
 	font:bold 7.5vw/1.6 'Signika', sans-serif;
 	user-select:none;
}

 a.rollover {
    background: url(https://upload.wikimedia.org/wikipedia/commons/2/28/RGB_illumination.jpg); 
    display: block; 
    width: 400px; 
    height: 300px; 
   }
   a.rollover:hover {
    background: url(http://mrsbtechsummit.weebly.com/uploads/2/5/9/8/25985443/8951293.jpg?385); 
   } 

    .layer1 {  
    background-color: white;
    float: left;
    width: 380px;
    padding: 9.9px;
    border: 0.1px solid black;
    height: 520px;
}

.layer2 {
	width: 1200px; 
	background-color: white; 
	margin-top: 0px; 
	margin: auto
	!important;
}

ul.vladik {
    margin: 0; 
    padding: 4px; 
}

ul.vladik li {
    display: inline; 
    margin-right: 5px; 
   }

   .op {
   	opacity: 1
   	!important;
   }


